nav{
    display: flex;
    justify-content: space-between;
    align-items:center ;
    }

   
h3{
    font-size: 32px;
    font-weight: bold;
    color:#0E0E0E;
}
.sign{
    color: #006A50;
    font-size: 18px;
    font-weight: 700;
    border-radius: 11px;
    height: 52px;
    width: 116px;
    padding-block: ;
    }
    .banner{
        display: flex;
        justify-content: space-between;
        padding: 16px;
        background-color: #C6E4D6;
        height: 560px;
        width: 1280px;
        padding: 100px 80px;
        border-radius: 24px;
    }
    .b-title{
        font-size: 24px;
        font-weight: 400;
        color: #0E0E0E;
    }
    .b-p{
        font-size: 56px;
        font-weight: bold;
        color: #0E0E0E;
    }
    .button{
        color: white;
        width: 270px;
        height: 56px;
        background-color: #006A50;
        border-radius: 8px;
    }
    .pillars{
        text-align: center;
    }
    .skill-cont{
        display: flex;
        justify-content: space-between;
        }
        .skill{
            gap:24px ;
        }
    .vision-cont{
        display: flex;
        justify-content: space-between;
        gap: 24px;
        padding:30px ;
        
    }
    .v-title{
        font-size: 20px;
        font-weight: bold;
        color: #0E0E0E;
    }
    .v-desk{
        font-size: 16px;
        font-weight:300px;
        color: rgba(14, 14, 14, 0.7);
       
    }
    .aljajera{
        display: flex;
        gap: 10px;
        align-items:top;
        justify-content:left;
    }
    .date{
        text-decoration: none;
        display: flex;
        gap: 20px;
        list-style: none;
    }
    .date li{
        height: 24px;
        width: 100px;
        align-items: end;
    }
